.album {
  border: 1px solid black;
  max-height: 30%;
  max-width: 20%;
  min-width: 20%;
  min-height: 30%;
  margin: 5px;
  text-align: right;
  color: white;
  background-color: #11235a;
  padding: 1%;
  border-radius: 10px;
}
.album:hover {
  background-color: #fff;
  color: #11235a;
  scale: 1.1;
  transition: 0.5s;
}
.albumdetails {
  padding: 5%;
  text-align: left;
}
.albumdetails h3 {
  font-size: 20px;
  margin: 0;
}
btn-ctn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
btn-ctn button {
  margin-top: 3%;
  height: 33px;
  width: 30%;
  border: 0;
  color: #fff;
  padding: 8px;
  font-size: 15px;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
}
#update {
  color: #200e3a;
  width: 75px;
  background-color: #fff;
}
#update:hover {
  background-color: #200e3a;
  color: white;
}
#delete {
  color: #b80000;
  background-color: #fff;
}
#delete:hover {
  background-color: #b80000;
  color: white;
}
